.margin { 
  margin-top: 50px; 
  justify-content:center;
  display: flex;
  }
.mobile{
  height: 500px;
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
}
.card {
  margin-top: 30px;
  height: 100%;
  width:350px;
  border: 0.5px solid;
  border-color: lightgrey;
  background-color: white;
}
.card-body {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  /* width: 300px; */
  text-align: center;
}
.logo {
  width: 60%;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.form-control{  
  /* width:260px; */
  height:30px;
  border: 0.5px solid;
  border-color: lightgrey;  
  background-color: rgb(247, 244, 244);
  font-size: 12px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 7px;
}
.authButton{
  /* width:265px; */
  width: 100%;
  height:30px;
  margin-top: 10px;
  border:None;
  /* color: black; */
  color:white;
  background-color: #0095f6;
}
#one {
  width: 45%;
  float: left;
}
#two {
  width: 45%;
  float: right;
}

#or {
  text-align: center;
  color:rgb(109, 109, 109);
  font-size: 12px;
  font-weight: 500;
}
.more-info{
  margin-top: 20px;
  color:grey;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}
@media (max-width: 767px) {
  .height {
    height: 500px;
}}