.App {
  background-color: #fafafa;
  justify-content: center;
}
.margin {
  display: flex;
  justify-content:center;
  padding-top: 50px;
  background-color: #fafafa;
}
.logo {
  width: 70%;
  /* margin-top: -60px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px
}
.card {
  height: 100%;
}
.card-body {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  width: 350px;
  /* height: 500px; */
}
/* input {
  border: 1px solid;
  margin-top: 20px;
} */
#one {
  width: 40%;
  float: left;
}
#two {
  width: 40%;
  float: right;
}
#or {
  margin-top: 30px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
