
.masonry{
    padding: 1em;
    column-count: 4;
}

#layoutMasonry{
    width: 100%;
    margin-bottom: 1em;
}

@media(max-width: 800px){
    .masonry{
        column-count: 3;
    }
}

@media(max-width: 600px){
    .masonry{
        column-count: 2;
    }
}

@media(max-width: 400px){
    .masonry{
        column-count: 1;
    }
}