.not-found {
  position: relative;
  background: url('../../img/doggie.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  margin-bottom: -50px;
}
.not-found-text {
  color: white;
  font-size: 2.5em;
  padding-top: 50px;
  text-align: center;
}
.not-found-subtext {
  color: white;
  font-size: 1.5em;
  text-align: center;
}