footer{
 margin-top: 200px; 
 color:grey;
 font-size: 10px;
 font-weight: bold;
 position: absolute;
 right: 0;bottom:0;left:0;
}
#f{
  color:rgb(3, 50, 104);
  text-align: center;
  font-size: 10px;
  white-space: pre;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  display:inline-flex;
  margin-left: 200px;
  margin-right: 100px;
  
}
.stickyfooter {
 min-height: 90vh; /* will cover the 100% of viewport */
 position: relative;
 padding-bottom: 100px; 
}
@media (max-width: 1200) {
.f {
min-height: 100vh; /* will cover the 100% of viewport */
 position: relative;
 padding-bottom: 100px; 
}
}