/* .main {
 max-height: 100%;
 background-color: rgba(0,0,0,.5);
}
.first {
  display: flex;
  align-items: center;
  justify-content: center; 
  
}
.second {
  background-color:white;
  border-radius: 30px;
  width: 400px;
  height: 400px;
  margin-top: 120px;
}*/
.second h5 {
  color: rgba(var(--i1d,38,38,38),1);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
} 
.second {
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
}
.third {
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.followers-container {
  background-color:white;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
.X {
  float: right;
  text-decoration: none;
  color: rgb(38, 38, 38);
  padding-right: 20px;
  font-size: 25px;
  font-weight: 300;
  margin-top: -40px;
}
.followers-avatar-icon {
  border-radius: 50%;
  width: 35px;
  /* margin-top:-8px; */
  margin-left: 15px;
  margin-right: 12px;
}
.fontStyleSizeColor {
  font-size: 15px;
  color: black;
  font-family: inherit;
  font-weight: 600;
}
/* .col-md-7 {
  margin-top: -10px;
} */
/* .spaceBelow {
  margin-bottom: 50px;
} */