.navbar {
border-bottom: 1px solid rgb(236, 234, 234);
}

.logo {
  width: 120px;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
}

.navbarIcon {
  color: black;
  /* padding: 0.5rem; */
  margin: 0.85rem;
  font-size: 1.5em;
  
}
.search{
  width:200px;
  margin: auto;
  position: relative;
  color: #aaa;
}
.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}
.navbarIcon {
  border-radius: 50%;
  width: 25px;
  /* margin-top: 8px;
  margin-left: 4px; */
  
}
@media (max-width: 767px) {

  .navbarIcon {
    width: 1.5em;
    margin-top: 23px; 
  }
  .avatar{
  font-size: 1.1em;
 }
}
