.searchDropDown {
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.searchDropDownMenu {
  background: rgba(var(--d87,255,255,255),1);
  border: solid 1px rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(var(--jb7,0,0,0),.0975);
  display: block;
  left: 50%;
  margin-left: -121px;
  position: absolute;
  right: -12px;
  top: 18px;
  width: 243px;
  z-index: 9;
}

.searchOptions {
  max-height: 362px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.searchOption {
  align-items: center;
  border-bottom: solid 1px rgba(var(--b38,219,219,219),1);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 50px;
  padding: 8px 14px
}

.searchBox {
  height: 28px;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
  position: relative;
}
.searchInput {
  background-color: rgba(var(--b3f,250,250,250),1);
  border: solid 1px rgba(var(--b6a,219,219,219),1);
  color: rgba(var(--i1d,38,38,38),1);
  padding: 3px 10px 3px 26px;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.searchIcon {
  left: 11px;
  position: absolute;
  top: 10px;
  z-index: 2;
  font-size: 10px;
}
.searchData {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  white-space: nowrap;
  width: 100%;
}
.searchAvatarBox {
  margin: 0 10px 0 0;
  align-items: center;
  align-self: center;
  display: block;
  justify-content: center;
}
.searchAvatar {
  width: 32px;
  height: 32px;
  background-color: rgba(var(--b3f,250,250,250),1);
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}
.searchNameBox {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
}
.searchName {
  color: rgba(var(--i1d,38,38,38),1);
  flex-direction: row;
  font-size: 14px;
  text-align: left;
}
.searchHandle {
  color: rgba(var(--f52,142,142,142),1);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  overflow: hidden;
}

.searchOption:hover {
  background: rgba(var(--b3f,250,250,250),1);
}